In [1]:
import numpy as np
import json


nine_to_ten = np.load('./adj_matrix_icd9_to_icd10.npy')
ten_to_nine = np.load('./adj_matrix_icd10_to_icd9.npy')

with open('./target2index_mimiciv_icd9.json','r')as f:
    nine_code_to_idx = json.load(f)

nine_code_map = {}
for key in nine_code_to_idx.keys():
    nine_code_map[nine_code_to_idx[key]] = key

with open('./target2index_mimiciv_icd10.json','r')as f:
    ten_code_to_idx = json.load(f)

ten_code_map = {}
for key in ten_code_to_idx.keys():
    ten_code_map[ten_code_to_idx[key]] = key

In [2]:
from collections import Counter
nine_to_ten_link_dict = {}

icd_9_code_group = {'0':[],'1':[],'2':[]}
for idx, line  in enumerate(nine_to_ten):
    counter = Counter(line)
    link_cnt = counter[0.5] + counter[1]
    if link_cnt == 0:
        icd_9_code_group['0'].append(nine_code_map[idx])
    elif link_cnt == 1:
        icd_9_code_group['1'].append(nine_code_map[idx])
    else:
        icd_9_code_group['2'].append(nine_code_map[idx])

    nine_to_ten_link_dict[nine_code_map[idx]] = link_cnt


ten_to_nine_link_dict = {}
icd_10_code_group = {'0':[],'1':[],'2':[]}
for idx, line  in enumerate(ten_to_nine):
    counter = Counter(line)
    link_cnt = counter[0.5] + counter[1]
    if link_cnt == 0:
        icd_10_code_group['0'].append(ten_code_map[idx])
    elif link_cnt == 1:
        icd_10_code_group['1'].append(ten_code_map[idx])
    else:
        icd_10_code_group['2'].append(ten_code_map[idx])
        
    ten_to_nine_link_dict[ten_code_map[idx]] = link_cnt

In [3]:
import pandas as pd

results_1 =sorted(nine_to_ten_link_dict.items(),key=lambda x: x[1],reverse=True)
ntt_counts = pd.DataFrame(results_1)
print(ntt_counts.describe(percentiles=np.arange(0,1,0.01)))

                 1
count  6150.000000
mean      1.053333
std       2.299515
min       0.000000
0%        0.000000
...            ...
96%       4.000000
97%       4.000000
98%       5.000000
99%       7.000000
max      90.000000

[105 rows x 1 columns]

In [9]:
ntt_counts[1].value_counts()

1     2982
0     2240
2      507
3      152
4      110
5       47
6       34
7       17
8       11
11       9
10       6
16       5
9        4
17       3
22       2
19       2
20       2
24       2
13       2
90       1
12       1
14       1
54       1
18       1
21       1
23       1
26       1
27       1
30       1
38       1
50       1
15       1
Name: 1, dtype: int64

In [21]:
ntt_counts[ntt_counts[1] == 1].describe()

            1
count  2982.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0

In [10]:
import pandas as pd

results_2 =sorted(ten_to_nine_link_dict.items(),key=lambda x: x[1],reverse=True)
ntt_counts_2 = pd.DataFrame(results_2)
print(ntt_counts_2.describe(percentiles=np.arange(0,1,0.01)))

                 1
count  7942.000000
mean      1.059683
std       0.626585
min       0.000000
0%        0.000000
...            ...
96%       2.000000
97%       2.000000
98%       3.000000
99%       3.000000
max       8.000000

[105 rows x 1 columns]

In [12]:
ntt_counts_2[1].value_counts()[0]

931

In [32]:
icd_9_code_group
with open('./icd_9_code_link_group.json','w',encoding='utf8')as f:
    json.dump(icd_9_code_group,f,ensure_ascii=False, indent='\t')

In [33]:
icd_10_code_group
with open('./icd_10_code_link_group.json','w',encoding='utf8')as f:
    json.dump(icd_10_code_group,f,ensure_ascii=False, indent='\t')

In [ ]:
ICD-9 LAAT ['0','1','1+'] [19.3,28.3,37.6],[21.1,31.5,41.5]
ICD-10 LAAT ['0','1','1+'] [13.4,21.3,18.2][14.7,25.2,21.6]


ICD-9 LAAT ['1 - 100','100 - 1000','1000 -'] [17.8, 41.0, 58.3],[21.0, 43.4, 58.7]
ICD-10 LAAT ['1 - 100','100 - 1000','1000 -'] [14.4, 39.7, 58.1][18.1, 42.9, 59.2]

In [42]:
41.5-37.6

3.8999999999999986

In [44]:
21.6-18.2

3.400000000000002